body {
    background-color: #135864
}

.imagem1 {
    width: 18%;
    height: 18%;
}

h1 {
    color: #fff;
    background-color: #002127;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 24px;
}

section {
    margin-top: 65px;
}

p {
    text-align: center;
}

.lista-centralizada {
    margin-top: 50px;
    display: flex; /* Ativa o Flexbox para a lista */
    justify-content: center; /* Alinha horizontalmente ao centro */
    list-style-type: none; /* Remove os marcadores da lista */
    padding: 0; /* Remove o padding padrão */
}

.lista-centralizada li {
    margin: 0 15px; /* Espaçamento horizontal entre os itens */
    text-align: center; /* Alinha o texto dentro de cada li ao centro */
}

.game-list2 {
    margin-top: 80px;
}

.game-list3 {
    margin-top: 80px;
}

hr {
    color: #000
}